name: GitHub Releases to Discord

on:
  release:
    types: [published, created, edited, prereleased]
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Dump event
        run: cat $GITHUB_EVENT_PATH
